body{
    margin:0;
    width:100%;
}
.header{
    background-color: #3399cc;
    padding:25px;
}
.mainHeading{
    font-family: 'Century Gothic';
    color:#ffffff;
    font-weight: 100;
    margin: 0px;
    font-size: 53px;
}
.navigationBar{
    background-color: #333333;
    display: flex;
    text-align: center;
    padding: 0px;
    justify-content: space-between;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.navItem{
    padding:8px 12px 4px 15px;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    border-color: #333333;
    color: white;
}
.navItem:hover{
    background-color: #f89502;
    border-color: white;
    color: black;
    cursor: pointer;
    font-weight: bolder;
}
.navigate{
    color: inherit;
    font-family: Ebrima;
    font-size: 18px;
    font-weight:bolder;
    text-decoration: none;
}
.activePage{
    background-color: #f89502;
    border-color: white;
    color: black;
    font-weight: bolder;
}
.icon{
    margin: 8px 28px 8px 0px;
}
.career{
    padding: 20px 0px 0px 60px;
    width:1000px;
}
.careerHeading{
    font-weight: normal;
    font-family:'Century Gothic';
    margin: 0px;
    font-weight: normal;
}
.weAre{
    font-family: "Ebrima";
}